<div class="section is--dark">
    <div class="container is--pt2 is--pb2">
      <div class="grid is--horisontal">
        <div class="grid__item">
          <div class="subtitle__wrapper mb-20">
            <p class="subtitle is--light-blue">
              Engineered for versatile applications
            </p>
          </div>
          <div class="h__wrapper mb-40 is--white">
            <h2 class="h2 is--white">
              Leveraging cutting-edge <br />
              <span class="green__span">IoT technology</span><br />to deliver
              robust, future-ready solutions.
            </h2>
          </div>
          <div class="text__wrapper-1-colum">
            <p class="p is--white">
              Empowering developers with seamless hardware integration using
              popular MCUs like ESP32 or Arduino, requiring just 10 lines of code.
              Facilitating device interaction without the need for advanced
              technical expertise.
            </p>
          </div>
          <div class="button__wrapper">
            <a href="/signup" class="primary-button w-button">START FREE</a>
          </div>
        </div>
        <div class="grid__item">
          <div class="img-50">
            <img
              src="assets/code_img.png"
              loading="lazy"
              sizes="100vw"
              alt=""
              class="img"
            />
          </div>
        </div>
      </div>
      <div class="spacer-120"></div>
      <div class="cards__grid4">
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e29e35c1122f835b0b_blynk_icon_community.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue">Community Engagement</h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Foster a vibrant IoT developers community within IoT Nexus, promoting collaboration and knowledge sharing among engineers worldwide.
            </p>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e2cd783d6758ba3335_blynk_icon_mobile_ap.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue">Real-Time Monitoring</h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Leverage IoT Nexus's real-time monitoring capabilities to track and visualize data from your IoT devices instantly.
            </p>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e25ac01d9a8e7a06eb_blynk_icon_web_app_d.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue"><strong>Data Analytics and Insights</strong></h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Utilize IoT Nexus to gain valuable insights from your IoT data, enabling you to identify trends, optimize performance, and drive informed decision-making.
            </p>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e2111fffe2322872e7_blynk_icon_api.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue">Simple APIs Integration</h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Take advantage of flexible firmware and REST APIs provided by IoT Nexus to seamlessly exchange data between hardware devices and applications.
            </p>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e1e848857fb2c5cd99_blynk_icon_hardware.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue">Hardware Compatibility</h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Benefit from IoT Nexus's support for a wide range of hardware models, including ESP32, Arduino, Raspberry Pi and many others, ensuring compatibility with diverse IoT devices.
            </p>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e1d74db5c06dc2eb79_blynk_icon_cloud.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue">Cloud Connectivity</h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Connect your IoT devices to IoT Nexus's secure and ready-to-use cloud infrastructure, enabling immediate access to cloud services for data storage and management.
            </p>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e29581c76d947fa961_blynk_icon_ota.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue">Alerts and Notifications</h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Set up alerts and notifications in IoT Nexus based on predefined thresholds or custom conditions, ensuring timely responses to critical events and maintaining operational efficiency.
            </p>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="icon mb-30">
            <img
              src="https://assets-global.website-files.com/6272e11601c9e296becde07b/6273e5e27470bda9643f4f0f_blynk_icon_wifi.png"
              loading="lazy"
              alt=""
              class="img"
            />
          </div>
          <div class="title__wrapper mb-20">
            <h5 class="h5 is--lightblue">Wi-Fi provisioning</h5>
          </div>
          <div class="text__wrapper">
            <p class="p-small is--white">
              Utilize industry-leading BLE-assisted device provisioning directly from IoT Nexus Apps, simplifying the setup and configuration of IoT devices connected to Wi-Fi networks.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="border is--grey"></div>
  </div>
