.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #027664; */
    background-color: #000000bd;
    color: #fff;
    padding: 0.3em;
    z-index: 1000; 
    position: fixed;
  }

  .navbar.disabled {
    pointer-events: none; 
    opacity: 0.5; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    margin: 0;
  }
  
  .logo-img {
    max-height: 4em;
    max-width: 11em;
    margin-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img {
    border-style: none;
    vertical-align: middle;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 33px;
    align-items: center;
    padding-right: 1em;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none ;
  }
  
  .logoutButton{
    color: #fff;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;;
    border-color: transparent;
    font-size: 1em;
  }

  .logout-div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .image {
    height: 1em;
    min-height: 1em;
    min-width: 1em;
    object-fit: fill;
    width: 1em;
  }