<div class="section is--light">
    <div class="container is--pt2 is--pb2">
      <div class="grid is--horisontal">
        <div class="grid__item">
          <div class="subtitle__wrapper mb-20">
            <p class="subtitle is--dark-blue">
              About Us
            </p>
          </div>
          <div class="h__wrapper mb-40 is--black">
            <h2 class="h2 is--black">
              IoT Nexus: Empowering Sustainable Resource Management
            </h2>
          </div>
          <div class="text__wrapper-1-colum">
            <p class="p is--black">
              At IoT Nexus, we are dedicated to revolutionizing how we monitor and manage water resources. Our innovative solutions, starting with 'HydroSense,' empower sustainable resource management, focusing on water conservation and responsible usage. We strive to make a meaningful global impact by fostering a culture of sustainability, environmental awareness, and responsible resource management.
            </p>
          </div>
          <div class="button__wrapper">
            <a href="/signup" class="primary-button w-button">Get Started</a>
          </div>
        </div>
        <div class="grid__item">
          <div class="img-50">
            <img
              src="assets/about_us_image.png"
              loading="lazy"
              sizes="100vw"
              alt=""
              class="img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
