<div class="card-container" fxLayout="column">
    <!-- <div>
      <a href="/dashboard/login">
        <img class="logo-img" src="assets/logo.png" alt="IOT NEXUS">
      </a>
    </div> -->
      <div class="forgot-password-container" >
        <h2 class="form-heading">Forgot Password?</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" fxLayout="column" style="width: 95%;">
          <div class="form-text">
            <span>Rest assured, we will promptly send you an email with the link to reset your password.
            </span>
          </div>
              <div class="label">
                  <label for="email">Email</label>
              </div>
            <div class="input-container" [ngClass]="{ 'error-border': shouldDisplayError() }">
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="Email"
                (input)="handleEmailChange($event)"
                required
              />
            </div>    
            <small class="error" *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && (forgotPasswordForm.touched || submitClicked) ">
                Email is required
              </small>                 
              <small class="error" *ngIf="forgotPasswordForm.get('email')?.errors?.['email'] && (forgotPasswordForm.get('email')?.touched || submitClicked) && shouldDisplayError()">
                Invalid email address
              </small> 
          <div class="submit-button-container"  fxLayoutAlign="center center">
            <button type="submit" class="submit-btn">Submit</button>
          </div>
          <div class="login-link">
              <a routerLink="/login">Back to Login</a>
          </div>
        </form>
      </div>
  </div>
    
    
    
    
      
  
    
  
